.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-row-start: 4;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row-start: 5;
}
        